<!-- Secci贸n tres: informaci贸n de la empresa -->
<div class="container-fluid mt-5">                          
    <div class="bg-light">
        <h2 class="text-black-50 pt-3 my-3">Acerca de...</h2>
        <div class="borde_pq"></div>                     
    </div>
        
    <div class="row pt-4">        
        <div class="col-md-6">
            <div class="d-flex flex-row align-items-start shadow p-3 mb-4 bg-white rounded">
                <img src="/imagenes/homeAzul48x48.png" class="iconoEmp">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold">Nuestra empresa:<br></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra. Fusce pulvinar lobortis nisi id egestas. Donec pulvinar est quis est ultricies commodo. Duis eu lorem ac metus tempus ullamcorper.</p>
            </div>                    
        </div> 
        <div class="col-md-6">
            <div class="d-flex flex-row align-items-start shadow p-3 mb-4 bg-white rounded">                        
                <img src="/imagenes/globeAzul48x48.png" class="iconoEmp">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold">Nuestra visi贸n:<br></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra. Fusce pulvinar lobortis nisi id egestas. Donec pulvinar est quis est ultricies commodo. Duis eu lorem ac metus tempus ullamcorper.</p>
            </div>                    
        </div>                
    </div>                
    <div class="row pt-2 pb-4"> 
        <div class="col-md-6">
            <div class="d-flex flex-row align-items-start shadow p-3 mb-4 bg-white rounded">
                <img src="/imagenes/trophyAzul48x48.png" class="iconoEmp">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold">Nuestros objetivos:<br></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra. Fusce pulvinar lobortis nisi id egestas. Donec pulvinar est quis est ultricies commodo. Duis eu lorem ac metus tempus ullamcorper.</p>
            </div>                    
        </div>                               
        <div class="col-md-6">
            <div class="d-flex flex-row align-items-start shadow p-3 mb-4 bg-white rounded">
                <img src="/imagenes/thumbsUpAzul48x48.png" class="iconoEmp">&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="text-secondary"><span class="font-weight-bold">Nuestra misi贸n:<br></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra. Fusce pulvinar lobortis nisi id egestas. Donec pulvinar est quis est ultricies commodo. Duis eu lorem ac metus tempus ullamcorper.</p>
            </div>                    
        </div>
    </div>    
</div>