<!-- Enlace a formulario para citas -->
<div class="row d-flex flex-column justify-content-center align-items-center">
    <h4 class="pt-4 text-center" data-aos="fade-left" data-aos-duration="2000">Programa en línea una cita con nosotros</h4>
    <p class="text-secondary text-center pb-4 mb-2" data-aos="fade-right" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
    <a href="/contacto" class="btn btn-primary btn-lg mb-4" role="button" aria-pressed="true">Ir&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
</div>
