
<!-- Encabezado -->
<div class="row justify-content-between py-3">      
    <div class="col-sm-3 d-flex flex-row justify-content-start align-items-center">
        <img src="/imagenes/LogoTaller_3.png" class="img-fluid w-50" alt="Logo taller">
    </div>                    
    <div class="col-sm-3 d-flex flex-row justify-content-center align-items-center">
        <i class="iconHeader bi bi-envelope" style="color: cornflowerblue"></i>&nbsp;&nbsp;
        <p class="mb-0">Escríbanos:<br>lorem_ipsum@mail.com</p>
    </div>
    <div class="col-sm-3 d-flex flex-row justify-content-center align-items-center">
        <i class="iconHeader bi bi-headset" style="color: cornflowerblue"></i>&nbsp;&nbsp;
        <p class="mb-0">Llámenos:<br>800-1234-5678</p>
    </div>
    <div class="col-sm-3 d-flex flex-row justify-content-center align-items-center">
        <i class="iconHeader bi-alarm" style="color: cornflowerblue;"></i>&nbsp;&nbsp;
        <p class="mb-0">Horario de servicio:<br>Lunes a sábado<br>7:30a.m. - 5:30p.m.</p>
    </div>    
</div>