<!-- Sección cuatro: información de los miembros de la empresa -->
<div class="container-fluid my-5">
    <div class="bg-light">
        <h2 class="text-black-50 pt-3 my-3">Nuestro equipo</h2>
        <div class="borde_pq"></div>                            
    </div>
    
    <div class="card-deck my-4">
        <div class="card">
            <img src="imagenes/persona_1.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body">
                <h5 class="card-title">Jonathan</h5>
                <h6 class="card-title text-danger">Mecánico</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Puedes localizarlo por:</small>&nbsp;&nbsp;&nbsp;
                <i class="bi bi-whatsapp text-secondary"></i>&nbsp;
                <i class="bi bi-facebook text-secondary"></i>&nbsp;
                <i class="bi bi-twitter text-secondary"></i>&nbsp;
                <i class="bi bi-envelope-fill text-secondary"></i>
            </div>
        </div>
        <div class="card">
            <img src="imagenes/persona_2.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body">
                <h5 class="card-title">Michael</h5>
                <h6 class="card-title text-danger">Mecánico</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Puedes localizarlo por:</small>&nbsp;&nbsp;&nbsp;
                <i class="bi bi-whatsapp text-secondary"></i>&nbsp;
                <i class="bi bi-facebook text-secondary"></i>&nbsp;
                <i class="bi bi-twitter text-secondary"></i>&nbsp;
                <i class="bi bi-envelope-fill text-secondary"></i>
            </div>
        </div>
        <div class="card">
            <img src="imagenes/persona_3.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body">
                <h5 class="card-title">Mónica</h5>
                <h6 class="card-title text-danger">Servicio al cliente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Puedes localizarlo por:</small>&nbsp;&nbsp;&nbsp;
                <i class="bi bi-whatsapp text-secondary"></i>&nbsp;
                <i class="bi bi-facebook text-secondary"></i>&nbsp;
                <i class="bi bi-twitter text-secondary"></i>&nbsp;
                <i class="bi bi-envelope-fill text-secondary"></i>
            </div>
        </div>
        <div class="card">
            <img src="imagenes/persona_4.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body">
                <h5 class="card-title">Jennifer</h5>
                <h6 class="card-title text-danger">Servicio al cliente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Puedes localizarlo por:</small>&nbsp;&nbsp;&nbsp;
                <i class="bi bi-whatsapp text-secondary"></i>&nbsp;
                <i class="bi bi-facebook text-secondary"></i>&nbsp;
                <i class="bi bi-twitter text-secondary"></i>&nbsp;
                <i class="bi bi-envelope-fill text-secondary"></i>
            </div>
        </div>
        <div class="card">
            <img src="imagenes/persona_5.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body">
                <h5 class="card-title">Charles</h5>
                <h6 class="card-title text-danger">Gerente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Puedes localizarlo por:</small>&nbsp;&nbsp;&nbsp;
                <i class="bi bi-whatsapp text-secondary"></i>&nbsp;
                <i class="bi bi-facebook text-secondary"></i>&nbsp;
                <i class="bi bi-twitter text-secondary"></i>&nbsp;
                <i class="bi bi-envelope-fill text-secondary"></i>
            </div>
        </div>
        <div class="card">
            <img src="imagenes/persona_6.png" class="card-img-top img-fluid mx-auto d-block rounded-lg" alt="foto de personal de la empresa">
            <div class="card-body">
                <h5 class="card-title">Mary</h5>
                <h6 class="card-title text-danger">Gerente</h6>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Puedes localizarlo por:</small>&nbsp;&nbsp;&nbsp;
                <i class="bi bi-whatsapp text-secondary"></i>&nbsp;
                <i class="bi bi-facebook text-secondary"></i>&nbsp;
                <i class="bi bi-twitter text-secondary"></i>&nbsp;
                <i class="bi bi-envelope-fill text-secondary"></i>
            </div>
        </div>
    </div>
</div>