<!-- Sección seis: horario de servicio -->
<div class="col-md-5 pt-4">
    <h4 class="text-black-50 my-3">Horario de servicio:</h4>
    <div class="borde_gr mb-4"></div>

    <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item"><small>Lunes</small></li>
        <li class="list-group-item"><small>7:30 a.m. - 5:30 p.m.</small></li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item"><small>Martes</small></li>
        <li class="list-group-item"><small>7:30 a.m. - 5:30 p.m.</small></li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item"><small>Miércoles</small></li>
        <li class="list-group-item"><small>7:30 a.m. - 5:30 p.m.</small></li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item"><small>Jueves</small></li>
        <li class="list-group-item"><small>7:30 a.m. - 5:30 p.m.</small></li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item"><small>Viernes</small></li>
        <li class="list-group-item"><small>7:30 a.m. - 5:30 p.m.</small></li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item"><small>Sábado</small></li>
        <li class="list-group-item"><small>7:30 a.m. - 1:00 p.m.</small></li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-between">
        <li class="list-group-item"><small>Domingo</small></li>
        <li class="list-group-item"><small>Cerrado</small></li>
    </ul>
</div>