<!-- Sección ocho: información general - sección de noticias o blog -->
<div class="row justify-content-center bg-light">
    <div class="text-center">
        <h4 class="pt-4 text-center" data-aos="fade-right" data-aos-duration="2000">Noticias recientes</h4>
        <p class="text-secondary text-center pb-4" data-aos="fade-left" data-aos-duration="2000">Consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra</p>
    </div>
    <div class="row justify-content-center my-3">                                 
        <div class="col-sm-4 p-1 mr-2" data-aos="zoom-in-down" data-aos-duration="2000">
            <div class="d-flex flex-row align-items-center">
                <div class="card border-0 bg-light">
                    <img src="/imagenes/image_blog_1.jpg" class="card-img-top rounded-lg" alt="noticia">
                    <div class="card-body p-0 m-0 text-secondary">
                        <p class="text-secondary py-1 mb-0"><small>Marzo 20, 2020&nbsp;|&nbsp;Escrito por: Charly&nbsp;|&nbsp;Fuente: Revista Mecánica</small></p>

                        <p class="text-secondary pb-1 border-bottom border-dark-50"><small><i class="bi bi-eye"></i>&nbsp;&nbsp;132&nbsp;&nbsp;<i class="bi bi-chat-fill"></i>&nbsp;&nbsp;7&nbsp;</small></p>

                        <p class="card-title"><span class="font-weight-bold text-uppercase">Es tiempo para cambiar sus llantas<br></span></p>
                        
                        <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in massa et lectus condimentum rhoncus at in nulla. Phasellus non hendrerit libero. Praesent rutrum ante mauris, sagittis sodales ipsum ullamcorper eget. Duis placerat est ut dui ultrices pellentesque. Suspendisse id nunc id nisl sollicitudin aliquam. Nulla vestibulum gravida odio, ut placerat quam ullamcorper non. Cras feugiat aliquet varius...</small></p>
                        <a href="/noticias" class="btn btn-primary mt-3" role="button" aria-pressed="true">Ver&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>                        
                    </div>
                </div>
            </div>                    
        </div>
        <div class="col-sm-4 p-1 mr-2" data-aos="zoom-in-down" data-aos-duration="2000">
            <div class="d-flex flex-row align-items-center">
                <div class="card border-0 bg-light">
                    <img src="/imagenes/image_blog_3.jpg" class="card-img-top rounded-lg" alt="noticia">
                    <div class="card-body p-0 m-0 text-secondary">
                        <p class="text-secondary py-1 mb-0"><small>Marzo 20, 2020&nbsp;|&nbsp;Escrito por: Charly&nbsp;|&nbsp;Fuente: Revista Mecánica</small></p>

                        <p class="text-secondary pb-1 border-bottom border-dark-50"><small><i class="bi bi-eye"></i>&nbsp;&nbsp;132&nbsp;&nbsp;<i class="bi bi-chat-fill"></i>&nbsp;&nbsp;7&nbsp;</small></p>

                        <p class="card-title"><span class="font-weight-bold text-uppercase">Consejos de seguridad para conducir en verano<br></span></p>
                        
                        <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in massa et lectus condimentum rhoncus at in nulla. Phasellus non hendrerit libero. Praesent rutrum ante mauris, sagittis sodales ipsum ullamcorper eget. Duis placerat est ut dui ultrices pellentesque. Suspendisse id nunc id nisl sollicitudin aliquam. Nulla vestibulum gravida odio, ut placerat quam ullamcorper non. Cras feugiat aliquet varius...</small></p>
                        <a href="/noticias" class="btn btn-primary mt-3" role="button" aria-pressed="true">Ver&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>                    
        </div>
        <div class="col-sm-4 p-1" data-aos="zoom-in-down" data-aos-duration="2000">
            <div class="d-flex flex-row align-items-center">
                <div class="card border-0 bg-light">
                    <img src="/imagenes/image_blog_2.jpg" class="card-img-top rounded-lg" alt="noticia">
                    <div class="card-body p-0 m-0 text-secondary">
                        <p class="text-secondary py-1 mb-0"><small>Marzo 20, 2020&nbsp;|&nbsp;Escrito por: Charly&nbsp;|&nbsp;Fuente: Revista Mecánica</small></p>

                        <p class="text-secondary pb-1 border-bottom border-dark-50"><small><i class="bi bi-eye"></i>&nbsp;&nbsp;132&nbsp;&nbsp;<i class="bi bi-chat-fill"></i>&nbsp;&nbsp;7&nbsp;</small></p>

                        <p class="card-title"><span class="font-weight-bold text-uppercase">Piezas que deben reemplazarse y a qué intervalos<br></span></p>
                        
                        <p class="card-text"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in massa et lectus condimentum rhoncus at in nulla. Phasellus non hendrerit libero. Praesent rutrum ante mauris, sagittis sodales ipsum ullamcorper eget. Duis placerat est ut dui ultrices pellentesque. Suspendisse id nunc id nisl sollicitudin aliquam. Nulla vestibulum gravida odio, ut placerat quam ullamcorper non. Cras feugiat aliquet varius...</small></p>
                        <a href="/noticias" class="btn btn-primary mt-3" role="button" aria-pressed="true">Ver&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>                    
        </div>
    </div>                          
</div>

