
    <div class="row">
        <div class="card-deck mx-3">
            <div class="card my-5 border-0">
                <img src="/imagenes/image_blog_1.jpg" class="card-img-top img-fluid rounded-lg" alt="foto">
                <p class="text-secondary pl-2 py-2 mb-0 border-bottom border-dark-50"><small>Marzo 20, 2020&nbsp;&nbsp;|&nbsp;&nbsp;Escrito por: Charly&nbsp;&nbsp;|&nbsp;&nbsp;Fuente: Revista Mecánica&nbsp;&nbsp;|&nbsp;&nbsp;<i class="bi bi-eye"></i>&nbsp;&nbsp;132&nbsp;&nbsp;<i class="bi bi-chat-fill"></i>&nbsp;&nbsp;7&nbsp;</small></p>
                <h5 class="text-secondary text-uppercase pl-3 pt-4 pb-2">Es tiempo para cambiar sus llantas</h5>
                <p class="pl-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur mauris vitae nisi venenatis ornare in facilisis sem. Ut volutpat lorem purus, sed tempus magna volutpat sed. Morbi ornare sem eget nisi dictum vulputate. Donec non pharetra mauris, eget vehicula ex. Nullam nec euismod nibh. Nullam convallis urna nisl, eu mollis arcu dictum sed. Duis auctor augue metus, nec rhoncus libero malesuada quis. Aliquam quis molestie nulla. Cras nisi felis, viverra quis lorem sit amet, sodales sagittis est. Mauris vel interdum enim.
                </p>
                <!-- <p class="pl-3 mb-0">                            
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebutton1" aria-expanded="false" aria-controls="collapsebutton1">
                        Mostrar artículo...
                    </button>                            
                </p> -->
                <div class="collapse" id="collapsebutton1">
                    <div class="card-body">                                                    
                        <p>Aenean a metus et mauris rutrum interdum id quis purus. Aenean sed sapien ac nunc luctus finibus. Praesent finibus ligula mi, eu maximus velit mollis ac. Duis eget elementum erat, sed porta eros. Mauris nec neque efficitur, malesuada ante at, ullamcorper orci. Phasellus nec tortor vel arcu pellentesque rhoncus. Duis fermentum sapien lorem, id suscipit dolor finibus at. Nullam dapibus malesuada nulla, vitae lacinia nulla feugiat at. Sed sed tellus risus. Aliquam euismod egestas ligula et condimentum. In egestas quam sed dapibus auctor. Donec urna neque, iaculis id tempus eget, iaculis non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien eros. Phasellus lobortis ipsum ligula, in luctus turpis laoreet imperdiet.</p>
                        <h6 class="text-uppercase">Lacus modem elementum</h6>
                        <p>Nullam ut viverra arcu. Suspendisse potenti. Integer aliquam libero eu tempus ornare. Mauris erat sapien, pellentesque a dapibus eu, elementum in erat. Cras quis sapien leo. Phasellus fermentum enim eu enim eleifend, id imperdiet nunc dictum. Quisque lacinia blandit tellus, eu molestie nisl elementum sit amet. Cras sagittis enim ac risus aliquam, vel accumsan ipsum vestibulum. Nam id volutpat diam. Vivamus volutpat augue nisl, eget auctor risus tincidunt consectetur. Aliquam erat volutpat.
                        </p>
                        <p>Vestibulum odio massa, interdum mollis rhoncus in, euismod sit amet tellus. Quisque convallis porttitor purus, at accumsan justo sodales et. Integer massa leo, cursus quis velit a, viverra cursus magna. Pellentesque gravida dapibus nisl, in convallis eros rhoncus non. Donec eget aliquet mi, sed condimentum ante. Duis ut urna vitae enim tempor dictum a cursus erat. Pellentesque suscipit felis in sem euismod, non congue massa lacinia. Etiam blandit sapien purus, nec lacinia sem tempor a. Aenean convallis facilisis tellus eget cursus. Aliquam erat volutpat. Nulla tristique sit amet ipsum et vulputate. Etiam ultricies turpis eget leo pretium, eget venenatis metus fringilla. Pellentesque enim sem, fringilla sit amet enim nec, tempus consequat est.
                        </p>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eu neque eu erat fermentum aliquet ut at erat. Ut eget lacinia neque. Nunc eget nunc non orci laoreet ultricies ac ut odio. Pellentesque vestibulum ipsum elit, eu consectetur sem tincidunt a. Sed vel purus eu elit mollis semper ac vitae enim. Nulla eget est est. Vestibulum tincidunt ac urna a commodo. Maecenas enim magna, suscipit a feugiat porttitor, porttitor vitae mauris. Fusce sed ipsum eget tortor viverra suscipit. In massa risus, lacinia id metus quis, fermentum porttitor tortor. Donec mi nisl, lacinia at erat quis, maximus elementum ante. Cras at lacus faucibus, venenatis purus nec, commodo nunc.</p>
                        <h6 class="text-uppercase">Gravida terminal etos</h6>
                        <p>Ut vitae venenatis enim. Nullam velit libero, faucibus et erat ac, vestibulum tincidunt nisi. Integer ultrices turpis felis, vel feugiat nibh auctor eu. Aenean pharetra justo volutpat odio dictum scelerisque. Donec nec magna id enim dignissim eleifend. Curabitur molestie tempor neque vitae tempus. Donec in vestibulum nisi. Maecenas commodo non magna sit amet consectetur. Nam volutpat sapien eu lacus dignissim, nec tincidunt sem placerat. Fusce in nisl molestie, convallis sapien sit amet, vehicula diam. Nam tempus dignissim molestie.</p>
                    </div>
                </div> 
                <a href="#collapsebutton1" class="btnTexto btn btn-primary w-50 ml-3" data-toggle="collapse">Mostrar artículo</a>                   
            </div>
            <div class="card my-5 border-0">
                <img src="/imagenes/image_blog_2.jpg" class="card-img-top img-fluid rounded-lg" alt="foto">
                <p class="text-secondary pl-2 py-2 mb-0 border-bottom border-dark-50"><small>Marzo 20, 2020&nbsp;&nbsp;|&nbsp;&nbsp;Escrito por: Charly&nbsp;&nbsp;|&nbsp;&nbsp;Fuente: Revista Mecánica&nbsp;&nbsp;|&nbsp;&nbsp;<i class="bi bi-eye"></i>&nbsp;&nbsp;132&nbsp;&nbsp;<i class="bi bi-chat-fill"></i>&nbsp;&nbsp;7&nbsp;</small></p>
                <h5 class="text-secondary text-uppercase pl-3 pt-4 pb-2">Consejos de seguridad para conducir en verano</h5>
                <p class="pl-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur mauris vitae nisi venenatis ornare in facilisis sem. Ut volutpat lorem purus, sed tempus magna volutpat sed. Morbi ornare sem eget nisi dictum vulputate. Donec non pharetra mauris, eget vehicula ex. Nullam nec euismod nibh. Nullam convallis urna nisl, eu mollis arcu dictum sed. Duis auctor augue metus, nec rhoncus libero malesuada quis. Aliquam quis molestie nulla. Cras nisi felis, viverra quis lorem sit amet, sodales sagittis est. Mauris vel interdum enim.
                </p>
                <!-- <p class="pl-3 mb-0">                            
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebutton2" aria-expanded="false" aria-controls="collapsebutton2">
                        Mostrar artículo...
                    </button>                            
                </p> -->
                <div class="collapse" id="collapsebutton2">
                    <div class="card-body">                                                    
                        <p>Aenean a metus et mauris rutrum interdum id quis purus. Aenean sed sapien ac nunc luctus finibus. Praesent finibus ligula mi, eu maximus velit mollis ac. Duis eget elementum erat, sed porta eros. Mauris nec neque efficitur, malesuada ante at, ullamcorper orci. Phasellus nec tortor vel arcu pellentesque rhoncus. Duis fermentum sapien lorem, id suscipit dolor finibus at. Nullam dapibus malesuada nulla, vitae lacinia nulla feugiat at. Sed sed tellus risus. Aliquam euismod egestas ligula et condimentum. In egestas quam sed dapibus auctor. Donec urna neque, iaculis id tempus eget, iaculis non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien eros. Phasellus lobortis ipsum ligula, in luctus turpis laoreet imperdiet.</p>
                        <h6 class="text-uppercase">Lacus modem elementum</h6>
                        <p>Nullam ut viverra arcu. Suspendisse potenti. Integer aliquam libero eu tempus ornare. Mauris erat sapien, pellentesque a dapibus eu, elementum in erat. Cras quis sapien leo. Phasellus fermentum enim eu enim eleifend, id imperdiet nunc dictum. Quisque lacinia blandit tellus, eu molestie nisl elementum sit amet. Cras sagittis enim ac risus aliquam, vel accumsan ipsum vestibulum. Nam id volutpat diam. Vivamus volutpat augue nisl, eget auctor risus tincidunt consectetur. Aliquam erat volutpat.
                        </p>
                        <p>Vestibulum odio massa, interdum mollis rhoncus in, euismod sit amet tellus. Quisque convallis porttitor purus, at accumsan justo sodales et. Integer massa leo, cursus quis velit a, viverra cursus magna. Pellentesque gravida dapibus nisl, in convallis eros rhoncus non. Donec eget aliquet mi, sed condimentum ante. Duis ut urna vitae enim tempor dictum a cursus erat. Pellentesque suscipit felis in sem euismod, non congue massa lacinia. Etiam blandit sapien purus, nec lacinia sem tempor a. Aenean convallis facilisis tellus eget cursus. Aliquam erat volutpat. Nulla tristique sit amet ipsum et vulputate. Etiam ultricies turpis eget leo pretium, eget venenatis metus fringilla. Pellentesque enim sem, fringilla sit amet enim nec, tempus consequat est.
                        </p>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eu neque eu erat fermentum aliquet ut at erat. Ut eget lacinia neque. Nunc eget nunc non orci laoreet ultricies ac ut odio. Pellentesque vestibulum ipsum elit, eu consectetur sem tincidunt a. Sed vel purus eu elit mollis semper ac vitae enim. Nulla eget est est. Vestibulum tincidunt ac urna a commodo. Maecenas enim magna, suscipit a feugiat porttitor, porttitor vitae mauris. Fusce sed ipsum eget tortor viverra suscipit. In massa risus, lacinia id metus quis, fermentum porttitor tortor. Donec mi nisl, lacinia at erat quis, maximus elementum ante. Cras at lacus faucibus, venenatis purus nec, commodo nunc.</p>
                        <h6 class="text-uppercase">Gravida terminal etos</h6>
                        <p>Ut vitae venenatis enim. Nullam velit libero, faucibus et erat ac, vestibulum tincidunt nisi. Integer ultrices turpis felis, vel feugiat nibh auctor eu. Aenean pharetra justo volutpat odio dictum scelerisque. Donec nec magna id enim dignissim eleifend. Curabitur molestie tempor neque vitae tempus. Donec in vestibulum nisi. Maecenas commodo non magna sit amet consectetur. Nam volutpat sapien eu lacus dignissim, nec tincidunt sem placerat. Fusce in nisl molestie, convallis sapien sit amet, vehicula diam. Nam tempus dignissim molestie.</p>
                    </div>
                </div>
                <a href="#collapsebutton2" class="btnTexto btn btn-primary w-50 ml-3" data-toggle="collapse">Mostrar artículo</a>    
            </div>
            <div class="card my-5 border-0">
                <img src="/imagenes/image_blog_3.jpg" class="card-img-top img-fluid rounded-lg" alt="foto">
                <p class="text-secondary pl-2 py-2 mb-0 border-bottom border-dark-50"><small>Marzo 20, 2020&nbsp;&nbsp;|&nbsp;&nbsp;Escrito por: Charly&nbsp;&nbsp;|&nbsp;&nbsp;Fuente: Revista Mecánica&nbsp;&nbsp;|&nbsp;&nbsp;<i class="bi bi-eye"></i>&nbsp;&nbsp;132&nbsp;&nbsp;<i class="bi bi-chat-fill"></i>&nbsp;&nbsp;7&nbsp;</small></p>                
                <h5 class="text-secondary text-uppercase pl-3 pt-4 pb-2">Piezas que deben reemplazarse y a qué intervalos</h5>
                <p class="pl-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur mauris vitae nisi venenatis ornare in facilisis sem. Ut volutpat lorem purus, sed tempus magna volutpat sed. Morbi ornare sem eget nisi dictum vulputate. Donec non pharetra mauris, eget vehicula ex. Nullam nec euismod nibh. Nullam convallis urna nisl, eu mollis arcu dictum sed. Duis auctor augue metus, nec rhoncus libero malesuada quis. Aliquam quis molestie nulla. Cras nisi felis, viverra quis lorem sit amet, sodales sagittis est. Mauris vel interdum enim.
                </p>
                <!-- <p class="pl-3 mb-0">                            
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsebutton3" aria-expanded="false" aria-controls="collapsebutton3">
                        Mostrar artículo...
                    </button>                            
                </p> -->
                <div class="collapse" id="collapsebutton3">
                    <div class="card-body">                                                    
                        <p>Aenean a metus et mauris rutrum interdum id quis purus. Aenean sed sapien ac nunc luctus finibus. Praesent finibus ligula mi, eu maximus velit mollis ac. Duis eget elementum erat, sed porta eros. Mauris nec neque efficitur, malesuada ante at, ullamcorper orci. Phasellus nec tortor vel arcu pellentesque rhoncus. Duis fermentum sapien lorem, id suscipit dolor finibus at. Nullam dapibus malesuada nulla, vitae lacinia nulla feugiat at. Sed sed tellus risus. Aliquam euismod egestas ligula et condimentum. In egestas quam sed dapibus auctor. Donec urna neque, iaculis id tempus eget, iaculis non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis sapien eros. Phasellus lobortis ipsum ligula, in luctus turpis laoreet imperdiet.</p>
                        <h6 class="text-uppercase">Lacus modem elementum</h6>
                        <p>Nullam ut viverra arcu. Suspendisse potenti. Integer aliquam libero eu tempus ornare. Mauris erat sapien, pellentesque a dapibus eu, elementum in erat. Cras quis sapien leo. Phasellus fermentum enim eu enim eleifend, id imperdiet nunc dictum. Quisque lacinia blandit tellus, eu molestie nisl elementum sit amet. Cras sagittis enim ac risus aliquam, vel accumsan ipsum vestibulum. Nam id volutpat diam. Vivamus volutpat augue nisl, eget auctor risus tincidunt consectetur. Aliquam erat volutpat.
                        </p>
                        <p>Vestibulum odio massa, interdum mollis rhoncus in, euismod sit amet tellus. Quisque convallis porttitor purus, at accumsan justo sodales et. Integer massa leo, cursus quis velit a, viverra cursus magna. Pellentesque gravida dapibus nisl, in convallis eros rhoncus non. Donec eget aliquet mi, sed condimentum ante. Duis ut urna vitae enim tempor dictum a cursus erat. Pellentesque suscipit felis in sem euismod, non congue massa lacinia. Etiam blandit sapien purus, nec lacinia sem tempor a. Aenean convallis facilisis tellus eget cursus. Aliquam erat volutpat. Nulla tristique sit amet ipsum et vulputate. Etiam ultricies turpis eget leo pretium, eget venenatis metus fringilla. Pellentesque enim sem, fringilla sit amet enim nec, tempus consequat est.
                        </p>
                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eu neque eu erat fermentum aliquet ut at erat. Ut eget lacinia neque. Nunc eget nunc non orci laoreet ultricies ac ut odio. Pellentesque vestibulum ipsum elit, eu consectetur sem tincidunt a. Sed vel purus eu elit mollis semper ac vitae enim. Nulla eget est est. Vestibulum tincidunt ac urna a commodo. Maecenas enim magna, suscipit a feugiat porttitor, porttitor vitae mauris. Fusce sed ipsum eget tortor viverra suscipit. In massa risus, lacinia id metus quis, fermentum porttitor tortor. Donec mi nisl, lacinia at erat quis, maximus elementum ante. Cras at lacus faucibus, venenatis purus nec, commodo nunc.</p>
                        <h6 class="text-uppercase">Gravida terminal etos</h6>
                        <p>Ut vitae venenatis enim. Nullam velit libero, faucibus et erat ac, vestibulum tincidunt nisi. Integer ultrices turpis felis, vel feugiat nibh auctor eu. Aenean pharetra justo volutpat odio dictum scelerisque. Donec nec magna id enim dignissim eleifend. Curabitur molestie tempor neque vitae tempus. Donec in vestibulum nisi. Maecenas commodo non magna sit amet consectetur. Nam volutpat sapien eu lacus dignissim, nec tincidunt sem placerat. Fusce in nisl molestie, convallis sapien sit amet, vehicula diam. Nam tempus dignissim molestie.</p>
                    </div>
                </div> 
                <a href="#collapsebutton3" class="btnTexto btn btn-primary w-50 ml-3" data-toggle="collapse">Mostrar artículo</a>   
            </div>
        </div>
    </div>
