<!-- Sección tres: información de los servicios que ofrece la empresa -->
<div class="container-fluid">        
    <div class="row">
        <div class="col-md-5 d-flex align-items-center py-4">
            <img src="imagenes/imgTaller_5.jpg" class="img-fluid rounded mx-auto d-block rounded-lg w-75" style="box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);">
        </div>
        <div class="col-md-7 pt-4">
            <div>
                <h3 class="pb-3 text-center text-black-50">Praesent a mauris ut tortor</h3>                        
            
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus malesuada faucibus. Cras feugiat aliquet quam, sit amet efficitur metus pellentesque vitae. Ut auctor sapien sed urna rhoncus, vel semper tortor pharetra. Fusce pulvinar lobortis nisi id egestas. Donec pulvinar est quis est ultricies commodo. Duis eu lorem ac metus tempus ullamcorper. Mauris semper lacus sed sapien blandit commodo. Nam sagittis sit amet sem at congue. In ac felis rhoncus, lacinia erat eu, viverra magna.
                Etiam porttitor acmi sit amet luctus:</p>

                <ul class="list-unstyled" style="line-height:2em;">
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Ut auctor sapien</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Vel semper tortor pharetra</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Fusce pulvinar lobortis nisi</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Donec pulvinar est quis</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Est ultricies commodo</li>                            
                </ul>
            </div>                    
        </div>
    </div>

    <div class="row border-dark-50 border-top">                
        <div class="col-md-7 pt-4">
            <div>
                <h3 class="pb-3 text-center text-black-50">Proin pulvinar, lacus eu condimentum convallis</h3>                        
            
                <p>Proin pulvinar, lacus eu condimentum convallis, odio orci imperdiet mi, consectetur semper quam urna quis libero. Duis dapibus ligula augue, id volutpat lorem cursus accumsan. Duis egestas accumsan vestibulum. Aenean quis posuere turpis, vitae feugiat mauris. Aenean vitae sem pharetra, eleifend diam eu, hendrerit metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus in felis facilisis vulputate non at felis. Morbi tincidunt id purus id hendrerit. 
                Aenean varius, nunc ac tempus aliquet:</p>

                <ul class="list-unstyled" style="line-height:2em;">
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Ut auctor sapien</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;vel semper tortor pharetra</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Fusce pulvinar lobortis nisi</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Donec pulvinar est quis</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;est ultricies commodo</li>                            
                </ul>
            </div>                    
        </div>
        <div class="col-md-5 d-flex align-items-center py-4">
            <img src="imagenes/imgTaller_4.jpg" class="img-fluid rounded mx-auto d-block rounded-lg w-75" style="box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);">
        </div>
    </div>

    <div class="row border-dark-50 border-top">     
        <div class="col-md-5 d-flex align-items-center py-4">
            <img src="imagenes/imgTaller_7.jpg" class="img-fluid rounded mx-auto d-block rounded-lg w-75" style="box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);">
        </div>           
        <div class="col-md-7 pt-4">
            <div>
                <h3 class="pb-3 text-center text-black-50">Nulla dictum erat id nisi sagittis malesuada</h3>                        
            
                <p>Nunc placerat eleifend sollicitudin. Mauris sapien purus, suscipit nec congue et, accumsan ut felis. Proin quis urna non eros imperdiet commodo. Cras at hendrerit nisi. Nunc imperdiet at ex sit amet faucibus. Proin elementum velit ligula, sed fringilla erat posuere sit amet. Fusce malesuada leo eget finibus iaculis. Integer suscipit molestie mollis. Mauris placerat orci a arcu semper, ac convallis urna iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus malesuada faucibus. 
                Pellentesque vitae semper est. Etiam porttitor ac mi sit amet luctus:</p>

                <ul class="list-unstyled" style="line-height:2em;">
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Ut auctor sapien</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;vel semper tortor pharetra</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Fusce pulvinar lobortis nisi</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Donec pulvinar est quis</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;est ultricies commodo</li>                            
                </ul>
            </div>                    
        </div>                
    </div>

    <div class="row border-dark-50 border-top">                     
        <div class="col-md-7 pt-4">
            <div>
                <h3 class="pb-3 text-center text-black-50">Duis interdum eleifend nunc, in auctor mi interdum ac</h3>                        
            
                <p>Duis interdum eleifend nunc, in auctor mi interdum ac. Phasellus vitae dui mattis, egestas ante eget, cursus mi. Aenean porta congue dui ut ultricies. Cras consectetur ante sit amet finibus feugiat. Pellentesque tempor ante eget augue viverra dapibus vel vitae elit. Cras quis urna felis. Praesent bibendum non erat ut euismod. Fusce vel ipsum vel libero elementum tempus vel nec nisi. Integer in pharetra ligula. Sed at ligula purus. Mauris id magna vel leo imperdiet ultrices tristique eget eros. Etiam id metus in felis facilisis vulputate non at felis. 
                Morbi tincidunt id purus id hendrerit:</p>

                <ul class="list-unstyled" style="line-height:2em;">
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Ut auctor sapien</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;vel semper tortor pharetra</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Fusce pulvinar lobortis nisi</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Donec pulvinar est quis</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;est ultricies commodo</li>                            
                </ul>
            </div>                    
        </div>
        <div class="col-md-5 d-flex align-items-center py-4">
            <img src="imagenes/imgTaller_9.jpg" class="img-fluid rounded mx-auto d-block rounded-lg w-75" style="box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);">
        </div>                           
    </div>

    <div class="row border-dark-50 border-top">  
        <div class="col-md-5 d-flex align-items-center py-4">
            <img src="imagenes/imgTaller_10.jpg" class="img-fluid rounded mx-auto d-block rounded-lg w-75" style="box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);">
        </div>                                              
        <div class="col-md-7 pt-4">
            <div>
                <h3 class="pb-3 text-center text-black-50">Cras enim tellus, iaculis sit amet iaculis imperdiet</h3>                        
            
                <p>Cras enim tellus, iaculis sit amet iaculis imperdiet, ornare sed sem. In commodo imperdiet faucibus. Suspendisse convallis pulvinar dolor a accumsan. Duis tortor leo, suscipit a augue sed, rhoncus blandit enim. Nulla vulputate lacus non massa ultrices porttitor quis sit amet justo. Curabitur quis eros et elit tincidunt euismod. Aliquam gravida elit ex, vitae luctus eros ultrices ac. Nullam rutrum erat sed pulvinar accumsan. Aenean mauris nibh, ultrices quis diam in, dapibus efficitur tellus. Integer faucibus nec eros nec malesuada. In porta sapien vitae sapien faucibus sollicitudin. Phasellus dictum eget nunc et auctor:</p>

                <ul class="list-unstyled" style="line-height:2em;">
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Ut auctor sapien</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;vel semper tortor pharetra</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Fusce pulvinar lobortis nisi</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Donec pulvinar est quis</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;est ultricies commodo</li>                            
                </ul>
            </div>                    
        </div>                
    </div>

    <div class="row border-dark-50 border-top">          
        <div class="col-md-7 pt-4">
            <div>
                <h3 class="pb-3 text-center text-black-50">Quisque ac dictum augue. Integer non tempus felis</h3>                        
            
                <p>Quisque ac dictum augue. Integer non tempus felis, id bibendum tellus. Maecenas suscipit convallis malesuada. Aliquam nec dui a sapien rutrum iaculis vel sed elit. Donec cursus vehicula mauris vitae sollicitudin. Phasellus vulputate, diam quis pulvinar interdum, est massa placerat ligula, nec posuere felis enim ac purus. Praesent pellentesque metus est, a tincidunt erat venenatis non. Integer eros nisl, fringilla sed vehicula eget, consectetur vel ligula. Morbi sagittis tincidunt neque, commodo vulputate ante commodo sit amet. In venenatis lacus quam, ac elementum mauris ultrices eu. Phasellus dictum eget nunc et auctor:</p>

                <ul class="list-unstyled" style="line-height:2em;">
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Ut auctor sapien</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;vel semper tortor pharetra</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Fusce pulvinar lobortis nisi</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;Donec pulvinar est quis</li>
                    <li><i class="bi bi-check-lg"></i>&nbsp;&nbsp;&nbsp;est ultricies commodo</li>                            
                </ul>
            </div>                    
        </div> 
        <div class="col-md-5 d-flex align-items-center py-4">
            <img src="imagenes/imgTaller_14.jpg" class="img-fluid rounded mx-auto d-block rounded-lg w-75" style="box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);">
        </div>                                                             
    </div>
</div>