
    <div class="row py-3">
        <div class="col-md-3 d-flex flex-column"> 
            <p class="text-white text-left font-weight-bold">Nuestra empresa:</p>            
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-house-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="/" class="nav-link text-white p-0">Inicio</a>         
            </div>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-people-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="/nosotros" class="nav-link text-white p-0">Quienes somos</a>
            </div>                
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-tools text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="/servicios" class="nav-link text-white p-0">Nuestros servicios</a>
            </div>
            <div class="d-flex flex-row pb-2">                                        
                <i class="bi bi-pencil-square text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="/noticias" class="nav-link text-white p-0">Noticias</a>
            </div>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-envelope-open-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="/contacto" class="nav-link text-white p-0">Contáctenos</a>
            </div>                 
        </div>        
        <div class="col-md-3 d-flex flex-column"> 
            <p class="text-white text-left font-weight-bold">Siganos en redes sociales:</p>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-facebook text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="#" target="_blank" class="text-white">taller_enterprise</a>
            </div>
            <div class="d-flex flex-row pb-2">                    
                <i class="bi bi-twitter text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="#" target="_blank" class="text-white">taller_enterprise</a>
            </div>                
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-instagram text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="#" target="_blank" class="text-white">taller_enterprise</a>
            </div>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-youtube text-white"></i>&nbsp;&nbsp;&nbsp;
                <a href="#" target="_blank" class="text-white">taller_enterprise</a>
            </div>
        </div>         
        <div class="col-md-3 d-flex flex-column"> 
            <p class="text-white text-left font-weight-bold">Nuestros servicios:</p>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-check-circle-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white text-left m-0">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-check-circle-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white m-0">consectetur adipiscing elit</p>
            </div>                
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-check-circle-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white m-0">Morbi luctus malesuada</p>
            </div>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-check-circle-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white m-0">Cras feugiat aliquet quam</p>
            </div> 
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-check-circle-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white m-0">Fusce pulvinar lobortis</p>
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column"> 
            <p class="text-white text-left font-weight-bold">Información para contacto:</p>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-geo-alt-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white text-left m-0">Av. 1, st. 1, Lorem ipsum dolor, consectetur elit adipiscing</p>
            </div>
            <div class="d-flex flex-row pb-2">                    
                <i class="bi bi-headset text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white m-0">800-123-enterprise</p>
            </div>                
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-whatsapp text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white m-0">(+000) 1234-5678</p>
            </div>
            <div class="d-flex flex-row pb-2">
                <i class="bi bi-envelope-fill text-white"></i>&nbsp;&nbsp;&nbsp;
                <p class="text-white m-0">lorem_ipsum@mail.com</p>
            </div>                                
        </div>                             
    </div>
</div>
<div class="container-fluid bg-secondary">
    <div class="row d-flex flex-row justify-content-center border-white border-top text-center py-3">        
        <p class="text-white mb-0">&copy;&nbsp;Lorem ipsum dolor sit amet 2022 - consectetur elit adipiscing</p>
    </div>   
</div>