<!-- Sección tres: información de contacto con la empresa -->
<div class="container-fluid mt-5">
    <div class="bg-light">
        <h2 class="text-black-50 text-center pt-2 my-3">Contáctenos</h2>
        <div class="borde_gr"></div>                            
    </div>  
</div>