<!-- Título sitio web -->
<div class="titulo row justify-content-center bg-light">
    <div class="text-center">
        <h2 class="text-black-50 mb-0 my-3">Bienvenidos</h2>
    </div>
        
    <div class="borde_gr"></div>
</div>
