<!-- Sección tres: información de los integrantes de la empresa -->
<div class="container-fluid pb-2 mt-5">
    <div class="bg-light">
        <h2 class="text-black-50 text-center pt-3 my-3">Quiénes somos</h2>
        <div class="borde_gr"></div>                            
    </div>

    <!-- Galeria de imágenes -->
    <div class="row my-5">        
        <img src="imagenes/imgTaller_13.jpg" class="img-fluid mx-auto d-block rounded-lg" style="width:30%; box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);" alt="foto equipo de trabajo">
        <img src="imagenes/callCenter_1.jpg" class="img-fluid mx-auto d-block rounded-lg" style="width:30%; box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);" alt="foto equipo de trabajo">
        <img src="imagenes/imgTaller_8.jpg" class="img-fluid mx-auto d-block rounded-lg" style="width:30%; box-shadow:0 0.75em 0.75em 0.5em rgba(0,0,0,0.5);" alt="foto equipo de trabajo">
        
    </div>
</div>